.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ff766a;
  padding: 14px 18px 12px;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.9em;
  padding: 8px 16px 6px;
  text-align: center;
  transition: background-color 50ms ease, color 100ms ease;
}

.Button.Button--large {
  font-size: 1em;
  padding: 14px 18px 12px;
}

.Button.Button--inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Button[disabled] {
  background-color: #dfdbd5;
  color: #f1ede7;
}

.Button:hover:not([disabled]) {
  background-color: #ed685c;
}
