body {
  color: #141414;
  font-family: 'adelle-sans', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
svg,
video {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

@media only screen and (min-width: 767px) {
  .w-50p-m {
    width: 50%;
  }
}

.container {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.Post-headerDivider {
  height: 2px;
  width: 50px;
  display: block;
}

.PostContent {
  line-height: 1.5;
}

.PostContent p + p {
  margin-top: 1.5rem;
}
